@font-face {
  font-family: 'misakidot'; /*ドットフォント*/
  src: url('src/theme/fonts/misaki_gothic.ttf') format('truetype');
  }

/* 冒頭部 参考：https://www.nowte.net/ui/ui-css-horizontal-image-text/ */
.outset {
  display: flex; /*横並び*/
  font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  max-width: 100%; /*こいつがポイントだった...?*/
  font-size: min(4.5vw, 25px);
  align-items: center;
}
.outset img{
  max-width: 150px; /* 最大幅　PCでめちゃでかくなるのいやなので */
  width: 30%;
}
.outset .title {
  display: inline-block;
  font-weight:bold;
  width: 100%;
  margin: 0% 0% 0% 5%;
  flex-wrap:wrap;
  ruby-position: under;
}
.outset .title rt { /*英語をるびでふる*/
  text-align: left;
  text-decoration: overline;
  margin: 0% 5% 0% 5%;
}

.self {
  font-family: 'misakidot';
  max-width: 100%;
  font-size: min(4.5vw, 25px);
  align-items: center;
}

.self img{
  max-width: 150px; /* 最大幅　PCでめちゃでかくなるのいやなので */
  width: 30%;
}

/* リンク集 参考：https://pisuke-code.com/css-examples-of-clip-path/ */
.hexagon-1 {
	width: 150px;
	height: 130px; /* width*√3/2 */
	clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	background: #3cb371;
}

/* 自己紹介 参考：https://www.nowte.net/ui/ui-css-horizontal-image-text/ */